@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto/Roboto-Black.ttf') format(truetype);
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../fonts/Roboto/Roboto-LightItalic.ttf') format(truetype);
  font-style: italic;
}

:root {
  --main-font-color: #ffffff;
  --main-bg-color: #1f2937;
  --main-border-color: #0084db;
}

body {
  color: var(--main-font-color);
  font-family: Roboto-Black, sans-serif, Arial;
}

header,
footer {
  background-color: var(--main-bg-color);
}

.nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.nav > .logo {
  color: var(--main-font-color);
  font-size: 36px;
  font-weight: bold;
}

.nav > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav a {
  color: var(--main-font-color);
  font-size: 20px;
  text-decoration: none;
}

.nav a:hover{
  color: #2d6efc;
}

.hero {
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero > div:first-child {
  max-width: 440px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 25px;
}

.hero h1 {
  color: var(--main-font-color);
  font-size: 48px;
  font-weight: bold;
}

.hero p {
  color: var(--main-font-color);
  font-size: 16px;
}

.hero-img {
  position: relative;
  height: 359px;
  border: 2px solid var(--main-border-color);
  border-radius: 4px;
}
